#navbar {
  flex-direction: column;
  height: 120px;

  #navigation {
    list-style: none;
    text-align: center;
    font-size: 18px;
    .animate {
      display: inline-block;
      &:extend(.margin-right-lg);
      &:extend(.margin-left-lg);
      
      a {
        font-weight: 400;
      }
    }

    .animate::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      transition: width .3s;
    }
    
    .animate:hover::after {
      width: 100%;
    }
  }
}

