#work {
  flex-direction: column;

  @media (min-width: 600px) {
    width: 70%
  }
  @media (min-width: 800px) {
    width: 65%
  }
  @media (min-width: 1000px) {
    width: 55%
  }

  #project-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .project {
      height: 200px;
      padding: 15px;      
      margin: 0 0 8px 0;
      background-clip:padding-box;      
      border-bottom: 2px black solid;
      align-content: center;
      position: relative;

      .front {
        justify-content: space-around;

        img {
          width: 125px;
          border-radius: 50%;
          border:solid #000;
          border-width: 1px 1px;
        }

        .work-description {
          padding-left: 20px;
          width: 300px;
          align-items: flex-start;
          flex-wrap: wrap;
          flex-direction: column;
        
          h4 {
            margin-top: 0;
            margin-bottom: 10px;
          }
        }
      }

      .overlay {
        position: absolute;        
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        display: flex;
        justify-content: center;
        background-color: green;        
        // display: none;
        transition: .5s ease;        
      }
    }

    .project:hover{
      .overlay {
        opacity: 0.95
      }
    }
  }
}