#work {
  flex-direction: column;
  width: 55%;

  #project-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  

    .project {
      height: 200px;
      padding: 15px;      
      margin: 0 0 8px 0;
      background-clip:padding-box;      
      border-bottom: 2px black solid;
      display: flex;
      align-content: center;
      position: relative;

      .front {
        justify-content: space-between;
      }

      .overlay {
        position: absolute;        
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        display: flex;
        justify-content: center;
        background-color: green;        
        // display: none;
        transition: .5s ease;        
      }
    }

    .project:hover{
      .overlay {
        opacity: 0.95
      }
    }
  }
}