#work {
  flex-direction: column;

  #project-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;  

    .project {
      // background-color: green;
      height: 200px;
      padding: 15px;      
      margin: 0 0 8px 0;
      background-clip:padding-box;      
      border-bottom: 2px black solid;
      justify-content: center;      
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    #project-0 {
      width: calc(100%);
      // display: flex;
    }
    #project-1 {
      width: calc(66.6666% - 1px);
    }
    #project-2 {
      width: calc(33.3333% - 1px);
    }
    #project-3 {
      width: calc(50% - 1px);
    }
    #project-4 {
      width: calc(50% - 1px);
    }

    .project:hover {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    
  }
}